{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="UTF-8">
    <title>E-SCHOOL</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>

<body>
    <header>
        <section class="topnav">
            <div class="brand">
                E-SCHOOL
            </div>
            <a href="#">Log In</a>
            <a href="#">Register</a>
        </section>
    </header>

    <div class="title">
        {% block site_title %}
        {% endblock %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>