{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="UTF-8">
    <title>E-SCHOOL</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %} "/>
</head>

<body>
    <header>
        <section class="topnav">
            <div class="brand">
                {% if user.groups.all.0.name == "teacher" %}
                <a href="{% url 'teacher_main' %}">E-SCHOOL</a>
                {% elif user.groups.all.0.name == "student" %}
                <a href="{% url 'group' user.profile_user.group_id.slug %}">E-SCHOOL</a>
                {% else %}
                E-SCHOOL
                {% endif %}
            </div>
            <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        {% if user.is_authenticated %}
                            <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                                {% if user.first_name %}Hello, {{ user.first_name }}!
                                {% else %}Witaj, {{ user.username }}!{% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item text-right" href="{% url 'logout_view' %}">Logout</a>
                                <a class="dropdown-item text-right" href="{% url 'password_change_view' %}">Chenge Password</a>
                            </div>
                        {% else %}
                            <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                                Nie jesteś zalogowany.
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item text-right" href="{% url 'login_view' %}">Zaloguj się</a>
                                <a class="dropdown-item text-right" href="{% url 'sign_up_view' %}">Zarejestruj się</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </section>
    </header>
    <br>

        {% block site_title %}
        {% endblock %}


        {% block content %}
        {% endblock %}

    <footer>
        <p class="enterprise">
            DreamTeam Software House Ltd.
        </p>
        <p class="copyrights">
            Photo Author: Freddie Marriage /Source: https://unsplash.com/photos/vSchPA-YA_A
        </p>
    </footer>
</body>
</html>