{% extends "base.html" %}

{% block content %}
    <h1>Class {{ group }}</h1>
    <div class="post-display">
      <ul>
          <h3>Posts</h3>
        {% for post in posts %}
        <l>
          {{ post.user_id.first_name }} {{ post.user_id.last_name }}, {{ post.published }}: {{ post.content }}
        </l>
          {% endfor %}
      </ul>
    </div>
    <div class="members_display">
        <ul>
            <h3>Members</h3>
            {% for member in members %}
            <l>
                {{ member.user.first_name }} {{ member.user.last_name }}
            </l>
            {% endfor %}
        </ul>
    </div>
    <div class="courses_display">
        <ul>
            <h3>Courses</h3>
            {% for course in courses %}
            <l>
                <a href="{% url 'course' course.slug %}">{{ course }}</a>
            </l>
            {% endfor %}
        </ul>
    </div>
{% endblock %}