{% extends "base.html" %}

{% block content %}
    <div class="flex-container">

        <div class="groups_display">
            <ul>
                <h3>Supervising Group</h3>
                {% for group in supervising_groups %}
                <l>
                    {{ group }}
                </l>
                {% endfor %}
            </ul>
        </div>

        <div class="groups_display">
            <ul>
                <h3>Teaching Groups</h3>
                {% for group in teaching_groups %}
                <l>
                    {{ group.group_id__symbol }}
                </l>
                {% endfor %}
            </ul>
        </div>

        <div class="courses_display">
            <ul>
                <h3>Courses</h3>
                {% for course in object_list %}
                <l>
                    <a href="{% url 'course' course.slug %}">{{ course }}</a>
                </l>
                {% endfor %}
            </ul>
        </div>
    <a href="{% url 'create_course_view' %}">Create Course</a>
    </div>
{% endblock %}