{% extends 'base.html' %}
{% block site_title %}
    <h1>
        {{ test_name }}
    </h1>
{% endblock %}


{% block content %}
    {% for question in questions %}
        <div class="flex-container">
                {{ question.question_number }}. {{ question.text_content }}
        </div>
                {% for answer in answers %}
                    {% if answer.question_id.id == question.id %}
                        <div class="a_list">{{ answer }}</div>
                    {% endif %}
                {% endfor %}

    {% endfor %}


{% endblock %}

